
<script>

function foo()
{
//window.location = "https://www.facebook.com/dialog/oauth?client_id=138505499545847&redirect_uri=http://sociopath.railsplayground.net/fb/show/&scope=publish_stream,offline_access,email,friends_about_me"
var url = "https://www.facebook.com/dialog/oauth?client_id=138505499545847&redirect_uri=http://localhost:3000/comments/&scope=read_stream&display=page"
//var url = "https://www.facebook.com/dialog/oauth?client_id=138505499545847&redirect_uri=http://sociopath.railsplayground.net/session/create/&scope=read_stream&display=page"
window.top.location = url;
}

</script>

<body onload="foo()">
  <%= logger.info("File is getting rendered") %>
This might take a few seconds. Patience plz... :)!!!
</body>


