<html>
<head>
<title> hi</title>
<script>

function foo()
{
//window.location = "https://www.facebook.com/dialog/oauth?client_id=138505499545847&redirect_uri=http://sociopath.railsplayground.net/fb/show/&scope=publish_stream,offline_access,email,friends_about_me"
window.top.location ="https://www.facebook.com/dialog/oauth?client_id=138505499545847&redirect_uri=http://localhost:3000/session/create/&canvas=1&display=page";
}

</script>
</head>
<body onload="foo()";>

</body>

</html>